/* h1  !* это селектор тегов *!*/
/* a:link  !* это селектор ссылок *!*/
/* .manythings  !* это селектор классов (классы применяются тогда, когда необходимо применить правило к нескольким элементам) *!*/
/* #onething  !* это селектор идентификаторов (они применяются, когда правило относится к одному элементу) *!*/
/* *  !* универсальный селектор *!*/
/* .box p  !* селектор потомков *!*/
/* .box p:first-child  !* селектор потомков + селектор псевдоклассов *!*/
/* h1, h2, .intro  !* перечисление селекторов *!*/

html {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.nav-header li,
.nav-header a {
    display: table-cell;
    color: white;
    padding: 0px 15px;
    font-size: 20px;
    list-style-type: none; /*изменяет маркеры перед списком*/
}

.nav-header a:hover { /* задает стиль отображения ссылки при наведении на неё курсора */
    color: gray;
    text-decoration: none
}


.content {
    display: flex;
     justify-content: center;
}

body {
    /*width: 100%; !*заставляет тело быть всегда 600 пикселей в ширину*!*/
    margin: 0;/* по вертикали | по горизонтали */
    /*padding: 0 20px 20px 20px; !* сверху | справа | снизу | слева *!*/
    /*border: 2px solid blue; !* устанавливает сплошную синию рамку шириной 2 пикселя со всех сторон тела*!*/
    }

.header h1 {
    margin: 0px;
    padding: 20px 10px; /* по вертикали | по горизонтали */
    color: white;
    font-size: 40px;
    text-align: left;
    text-shadow: 4px 4px 3px dimgray; /* тень 3гор., 3верт. 1 размытось и цвет */
}

.content p {
    margin: 70px 0px 0px 50px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    width: 300px;
    border-top: 1px solid black;
}

.content-contacts {
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    width: 300px;
}


img {
    display: block; /*дать изображению блочное поведение*/
    width: 211px;
    height: 282px;
}

/*footer {*/

/*}*/

